.flex-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

b {
  margin: 0.5rem;
  background-color: #10162F;
  color: white;
}

p {
  font-size: medium;
  color: #10162F;
}

h1, h4 {
  margin: 0 0.5rem 1rem;
  color: #10162F;
}

button {
  margin: 0 0.5rem;
  background-color: #3A10E5;
  color: white;
  font-size: medium;
  border: none;
  border-radius: 2px;
  padding: 0.5rem 1rem;
}

